<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

    <img class="navbar-brand" src="https://raw.githubusercontent.com/NikelausM/yelp-camp/master/Campground%20Logo.PNG" style="height: 50px" alt="">
      <a class="navbar-brand" href="#">YelpCamp</a>

      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">

        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" class="hover-line" href="/">Home</a>
          <a class="nav-link" class="hover-line" href="/campgrounds">Campgrounds</a>
          <a class="nav-link" class="hover-line" href="/campgrounds/new">New Campgrounds</a>
        </div>
        
  
        <div class="navbar-nav">
  
          <div class="navbar-nav" id="icon">
            <input type="checkbox" class="checkbox" id="chk" />
                <label class="label" for="chk">
                  <i class='fas fa-sun'></i>
                  <i class='fas fa-moon'></i>
                  <div class="ball"></div>
                </label>
          </div> 
  
          <% if(!currentUser) {%>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
            <% } else {%>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </div>
    
          </div>
    </div>
  </nav>