DB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/yelp-camp?retryWrites=true&w=majority
SESSION_SECRET=replacethiswithalongrandomstring
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_api_key
CLOUDINARY_SECRET=your_api_secret
MAPBOX_TOKEN=pk.eyJ1Ijoixxxxxxxxxxxxxxx
