DB_URL=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/yelp-camp?retryWrites=true&w=majority
SESSION_SECRET=replacethiswithalongrandomstring
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_KEY=your_api_key
CLOUDINARY_SECRET=your_api_secret
OPENAI_API_KEY=sk-...
CLOUDINARY_CLOUD_NAME=Root
CLOUDINARY_KEY=382668837297248
CLOUDINARY_SECRET=SB24XqTj1yepg9s4ugEDCr2_C1s
MAPBOX_TOKEN=pk.eyJ1Ijoixxxxxxxxxxxxxxx